<main class="main">
  <div class="content">
    <div class="row py-lg-5 text-center" bis_skin_checked="1">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div id="main-logo" class="mb-3">
          <img src="/assets/images/starwarslogo.png" />
        </div>
        <h1 class="fw-light">Star Wars Film Wiki</h1>
        <p class="lead">Welcome to the Star Wars Film Wiki page</p>
      </div>
    </div>
  </div>
</main>

<div class="py-5" bis_skin_checked="1">
  <div class="container" bis_skin_checked="1">
    <router-outlet />
  </div>
</div>
